.about-container {
    min-height: 50em;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.about-context-container {
    min-height: 35em;
    min-width: 80em;
    border-radius: 1em;
    display: flex;
    justify-content: space-around;

}



  .pfp-container {
    
    border-radius: 1em;
    min-width: 20em;
    min-height: 30em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  }

  .content-container {
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    min-width: 40em;
    max-width: 40em;
    min-height: 30em;
    gap: 1em
    }



  .content-header  {
    margin: 12px;
    display: flex;
    font-size: 42px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }


  .content-inside-container {
    margin: 12px;
    display: flex;
    padding: 42px;
    max-width: 40em;
    font-size: 28px;
    text-align: left;

  }
    .pfp-container {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.pfp-container:hover,  .pfp-container:focus,  .pfp-container:active {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.content-container {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .content-container:hover,    .content-container:focus,    .content-container:active {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }


  @media (max-width: 900px) {
    .about-container {
        padding: 24px;
    }
    .about-context-container {
        flex-direction: column;
        min-height: 50em;
        min-width: 100%;
    }
    .pfp-container, .content-container {
        min-width: 100%;
    }
    .about-context-container {
        gap: 2em;
    }
    .content-inside-container {
    }
    .content-header {
    }
    .content-container {
    }
  }


  