.about-container {
    min-height: 50em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 4em;
}



.about-context-container {
    min-height: 35em;
    max-width: 90em;
    border-radius: 1em;
    display: flex;
    justify-content: space-around;
    gap: 8em;

}



  .pfp-container {
    display: flex;
    justify-content: center;
    border-radius: 1em;
    min-width: 20em;
    min-height: 30em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;  }

  .content-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
    min-width: 40em;
    max-width: 40em;
    min-height: 30em;
    gap: 1em;
    z-index: 4;
    }



  .content-header  {
    margin: 12px;
    display: flex;
    font-size: 42px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
  }


  .content-inside-container {
    margin: 12px;
    display: flex;
    padding: 42px;
    max-width: 40em;
    font-size: 28px;
    text-align: left;

  }
    .pfp-container {
        display: flex;
        flex-direction: column;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.pfp-container:hover,  .pfp-container:focus,  .pfp-container:active {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.content-container {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .content-container:hover,    .content-container:focus,    .content-container:active {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }


  @media (max-width: 1200px) {
    .about-container {
        padding: 24px;
    }
    .about-context-container {
        flex-direction: column;
        min-height: 50em;
        min-width: 100%;
    }
    .pfp-container, .content-container {
        min-width: 100%;
    }
    .pfp-container {
        align-items: center;
    }
    .about-context-container {
        gap: 2em;
    }
    .cool-facts-tile-container {
        justify-content: center;
    }
    .content-inside-container {
    }
    .content-header {
    }
    .content-container {
    }
  }


  .pfp-circle-container {
    max-width: 20em;
    min-height: 20em;

  }

  .dillon-pfp {
    max-height: 100%;
    max-width: 100%;

  }

  .cool-facts-container {
    max-width: 20em;
    min-height: 20em;
    display: flex;
    flex-direction: column;


  }

  .cool-facts-title {
    max-width: 20em;
    max-height: 2em;
    font-size: 44px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .cool-facts-tile-container {
    max-width: 20em;
    min-height: 16em;
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: .3em;
  }

  .fun-fact {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 1.75em;
    border: 1px solid black;
    padding: .25em;
    border-radius: .25em;
    gap: .2em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
  }

  .fun-pic {
    max-height: 25px;
    max-width: 25px;
}









  @-webkit-keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang {
    0% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
    50% {
      -webkit-transform: translateY(4px);
      transform: translateY(4px);
    }
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @-webkit-keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  @keyframes hvr-hang-sink {
    100% {
      -webkit-transform: translateY(8px);
      transform: translateY(8px);
    }
  }
  .fun-fact 
{
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .fun-fact 
 ,.fun-fact 
 :hover, .fun-fact 
 :focus, .fun-fact 
 :active {
    -webkit-animation-name: hvr-hang-sink, hvr-hang;
    animation-name: hvr-hang-sink, hvr-hang;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }