:root {
    --gradient: linear-gradient(
        30deg,
        #ff99c8,
        #fcf6bd,
        #d0f4de,
        #a9def9,
        #e4c1f9
           )

}


.introbody {
    min-height: 30em;
    min-width: 320px;
    display: flex;
    flex-direction: column;
    background-image: var(--gradient);
    background-size: 400%;
    animation: bg-animation 15s infinite alternate;
    justify-content: flex-end;

}


.svg-holder {
    position: relative;
    
  }



@keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: 100%;}

}
.custom-shape-divider-bottom-1663109338 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1663109338 svg {
    position: relative;
    display: block;
    width: calc(130% + 1.3px);
    height: 195px;
}

.custom-shape-divider-bottom-1663109338 .shape-fill {
    fill: #FFFFFF;
}






  .intro-gradient {
   
        -webkit-filter: drop-shadow( 3px 3px 2px rgba(99, 99, 99, 0.2));
        filter: drop-shadow( 3px 5px 2px rgba(99, 99, 99, 0.2));
        /* Similar syntax to box-shadow */
      
  }

  
  




.additional-text {
    position: absolute;
    bottom: 60%;
    left: 3%;
    font-size: 44px;
}














  /*
path {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    stroke-linejoin: 2,2;
    stroke-linejoin: round;
  }*/